---
---

.btn-primary {
    background-color: #ed1b24;
    border-color: #ed1b24;
}

.btn-warning {
    background-color: #585b63;
    border-color: #585b63;
}

.btn-warning.active {
    background-color: #2c2d33;
    border-color: #2c2d33;
}

.dsa-calendar {
    margin: 20px;
}

/* @import "bootstrap"; */
